# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Java / Maven
backend/target/
*.class

# IntelliJ / IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
*.env
application-local.yml
application-dev.yml